.footerWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLine {
    background-color: #ffffff;
    border-top: 3px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    height: 4px;
}

/*SMARTPHONE*/
@media screen and (min-width:320px) and (max-width:768px) {
    .logo {
        width: 180px;
    }
}