.extraDiv {
    padding: 10px 15px;
    position: relative;
    display: none;

    .icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: black;
    }

    .languages {
        font-size: 10px;
        display: flex;
        gap: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .languages>* {
        padding: 5px;
        color: black;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
    }

    .languages>span {
        font-weight: 900;
    }

    .languages>*:hover {
        background-color: #f7f7f7;
    }

    .extraButtonDiv {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        height: 20px;
    }

    .extraButton {
        padding: 7px 10px;
        border-radius: 3px;
        background-color: #567b95;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
    }
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 15px;

    .searchDiv>.icon:nth-child(2) {
        display: none;
    }

    .empty {
        width: 15px;
        height: 15px;
        visibility: hidden;
    }

    .icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        color: black;
    }
}

.navDate {
    font-size: 12px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 15px;
    font-weight: bold;
}

.navSections {
    padding: 15px 15px;
    gap: 10px;
    border-bottom: 1px solid #e2e2e2;
    display: none;
}

.searchBarDiv {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 10px;

    .searchForm {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .searchBar {
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid rgb(120, 120, 120);
        border-radius: 3px;
        width: 500px;
    }

    .searchButton {
        padding: 10px;
        background-color: #567b95;
        border: 1px solid rgb(50, 104, 145);
        color: #ffffff;
        border-radius: 3px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023.98px) {
    .navWrapper {
        padding-top: 15px;

        .logo {
            height: 40px;
        }

        .icon {
            width: 20px;
            height: 20px;
        }

        .empty {
            width: 20px;
            height: 20px;
        }
    }
}


@media screen and (min-width:1024px) {
    .extraDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navWrapper {
        border-bottom: none;
        justify-content: center;
        padding-top: 0;

        .logo {
            height: 60px;
        }

        .icon {
            display: none;
        }

    }

    .navDate {
        font-size: 15px;
        background-color: transparent;
        padding: 5px 15px;
    }

    .navSections {
        display: flex;
        justify-content: space-between;
    }
}