.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFoundDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    height: 50vh;

    .redirect {
        text-decoration: none;
        color: #567b95;
        font-size: 12px;
    }

    .redirect:hover {
        color: #0b3655;
    }

    .notFoundMessage {
        color: #666;
        font-size: 25px;
        line-height: 30px;
        max-width: 450px;
    }

    .notFoundForm {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .notFoundBar {
            border: 1px solid gray;
            padding: 5px;
            height: 30px;
            width: 200x;
        }

        .notFoundButton {
            border: 1px solid gray;
            border-radius: 3px;
            font-weight: bold;
            padding: 8px 5px;
            height: 30px;
            width: 15%;
            color: #666;
        }
    }
}

@media screen and (max-width:424.98px) {
    .notFoundDiv {
        .notFoundForm {
            width: 100%;
        }

        .notFoundBar {
            width: 50%;
        }
    }
}

@media screen and (min-width:425px) {
    .notFoundDiv {
        .notFoundForm {
            width: 424px;
        }

        .notFoundBar {
            width: 212px;
        }
    }
}