.articleCard {
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;

    .articleInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .articleLabel {
            background-color: #c7c7c7;
            text-transform: capitalize;
            padding: 5px;
            width: fit-content;
        }

        .articlePublishedDate {
            color: #727272;
        }
    }

    .articleLink {
        text-decoration: none;
        color: black;
    }

    .articleTitle {
        font-size: 20px;
    }

    .articleCreator {
        color: #727272;
        font-size: 13px;
    }

}

@media screen and (max-width:767.98px) {
    .articleCard:last-of-type {
        border-bottom: none;
    }
}